#page{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    width: 100vw;
}
#con{
    display: flex;
    flex-direction: column;
}
.but{
    color: black;
    margin-right: auto;
    margin-left: auto;
    width: 20vw;
    height: 50px;
    border-radius:10px;
    border: 2px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #dee7f0;
}

.but:hover{
       border: 3px solid black;

}

#issue{
    background-color:white;
}

#return{
    background-color: white;
}
#books{
    width: 18vw;
}
#members{
    width: 18vw;
}