#repage{
    width: 95vw;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

#replab{
    font-size: 2.3rem;
}
.sla{
    font-size: 1.8rem;
}
#subcon{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}
.rele{
    width: 50%;
}
.bcon{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.belem{
    width: 95%;
    height: 40px;
    border: 1px solid black;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.top{
    width: 90%;
    height: fit-content;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#progr {
    height: 100px;
    width: 100px;
    border: 10px solid grey;
    border-left: 10px solid blue;
    border-radius: 50%;
    position: fixed;
    z-index: 11111;
    left: 50%;
    margin-left: -100px;
    top: 65%;
    margin-top: -100px;
    animation: rotate .5s infinite ease;
    visibility: hidden;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#progr.enable {
    visibility: visible;
}